[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
ib-insync = "*"
nest-asyncio = "*"
lightweight-charts = "*"
pandas-ta = "*"

[dev-packages]

[requires]
python_version = "3.10"
